.form {
  .form-name,
  .form-email,
  .form-address,
  .form-comment {
    width: 100%;
    margin-bottom: 5px;
  }

  .from_intern {
    display: flex;
    flex-direction: column;
  }

  .btn-send {
    text-align: center;
  }
}

.intro_text {
    font-size: 17px;
}

.headline {
    font-size: 35px;
}