.tapp__intro {

    .intro_text {
        font-size: 17px;
    }

    .headline {
        font-size: 35px;
    }

    .here {
        text-decoration: underline;
        color: blue;
    }
}

.search-bar {
    width: 0%;
    transition: width 300ms ease-in-out;
}

.accordion--open {
    .search-bar {
        width: 40%;
    }
}

.form {

    .form-name,
    .form-email,
    .form-address,
    .form-comment {
        width: 100%;
        margin-bottom: 5px;
    }

    .from_intern {
        display: flex;
        flex-direction: column;
    }

    .btn-send {
        text-align: center;
    }
}